{% extends 'blog/base.html' %}

{% block content %}
<h2>Perfil de Usuario</h2>
<p>Bienvenido, {{ user.username }}!</p>
<p>Nombre completo: {{ user.first_name }} {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Fecha de registro: {{ user.date_joined }}</p>
<p>Última vez activo: {{ user.last_login }}</p>

{% if avatar %}
<img src="{{ avatar.avatar.url }}" alt="Avatar" width="100">
{% else %}
<p>No hay foto de perfil disponible.</p>
{% endif %}

<a href="{% url 'update_profile' %}" class="btn btn-primary">Actualizar Perfil</a>

{% endblock %}